* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.42857143;
    color: #333333;
    background-color: #f9f9f9;
}

a {
    text-decoration: none;
    background-color: transparent;
}

p {
    font-weight: 300;
    margin: 0 0 10px;
}

img {
    vertical-align: middle;
    border: 0;
}

#home.row {
    padding: 0;
}

.row {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #eeeeee;
    border-radius: 2px;
    margin-left: -15px;
    margin-right: -15px;
}

.col-xs-12 {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
}

.container,
.col-xs-12 {
    padding: 0;
}

.container>.navbar-header,
.container>.navbar-collapse,
.container-fluid>.navbar-header,
.container-fluid>.navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}

.navbar {
    margin: 0;
    border: 0;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    position: relative;
    min-height: 50px;
}

.navbar-default {
    background-color: #fff;
    border-color: #eeeeee;
    color: #777;
}

.navbar-header {
    float: left;
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
    margin-left: -15px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus {
    font-weight: 700;
    color: #ea532a;
}

.navbar-brand {
    padding: 0;
    padding-top: 5px;
    min-width: 250px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
    float: left;
    color: #777;
}

.navbar-default .navbar-brand:hover {
    color: #da552f;
}

.navbar-brand .logo {
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    padding-left: 2px;
    background-color: #ea532a;
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.navbar-brand .brand-text {
    padding-top: 2px;
}

.navbar-brand .brand-tagline {
    font-size: 12px;
    font-weight: 400;
    color: #777777;
}

ul.nav.navbar-nav {
    margin-top: 4px;
}

.navbar-nav {
    margin: 0;
}

.navbar-right {
    float: right !important;
    margin-right: -15px;
}

.navbar-btn {
    margin-top: 8px;
    margin-bottom: 8px;
}

.btn {
    padding: 3px 10px;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
}

.btn-default {
    color: #333;
    border-color: #ccc;
}

.btn-default:hover {
    border-color: #adadad;
    background-color: #e6e6e6;
}

.btn-danger {
    background-color: #ea532a;
    border-color: #ea532a;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
}

h1 {
    padding-bottom: 10px;
    font-size: 20px;
    border-bottom: 1px solid #eeeeee;
}

#home h1 {
    margin: 20px 20px 0 20px;
}

.product-card {
    position: relative;
}

.product-card a:link {
    text-decoration: none;
    outline: none;
}

.product-card a {
    color: #333333;
}

.product-card>a {
    display: block;
    height: 120px;
    padding: 20px;
    border-bottom: 1px solid #eeeeee;
}

.product-card a:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

.product-card-image {
    float: left;
    padding-right: 20px;
}

.product-card-body {
    padding-top: 2px;
    padding-bottom: 10px;
}

.product-card-body h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 300;
}

.product-card-body span {
    margin: 0;
    font-weight: 300;
    color: #777777;
}

ul.product-card-controls {
    position: absolute;
    bottom: 20px;
    left: 120px;
    margin: 0;
}

.product-card-controls li {
    padding: 0;
    margin-right: 3px;
}

.product-card-controls li>a {
    padding: 2px 10px;
    padding-right: 6px;
    font-size: 12px;
    line-height: 20px;
}

ul.product-controls {
    margin-top: 20px;
}

.pull-left {
    float: left !important;
}

.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}

.list-inline>li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.product-header {
    position: relative;
}

.product-image {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
}

.product-image img {
    width: 120px;
    height: 120px;
}

.product-body {
    margin-top: 2px;
}

.product-body h1 {
    padding-bottom: 0;
    font-size: 24px;
    font-weight: 500;
    border: 0;
}

.product-body span {
    font-size: 16px;
    color: #777777;
}

.product-created {
    position: absolute;
    top: 0;
    right: 0;
}

.product-created span {
    font-size: 12px;
    font-weight: 400;
    color: #777777;
}

.product-controls-wrapper {
    clear: both;
    border-top: 1px solid #eeeeee;
}

ul.product-controls {
    margin-top: 20px;
}

.pull-left {
    float: left !important;
}

i {
    margin-right: 5px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
